// 盒子距离
.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10{
  margin-left: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-40{
  margin-bottom: 40px;
}

