// base color
$blue: #324157;
$light-blue: #3A71A8;
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;

// sidebar
// $menuText: #BFCBD9;
$menuText: #666666;
$menuActiveText: #409EFF;
$subMenuActiveText: #A9B4C5; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #304156;
$menuHover: #263445;
// $subMenuBg: #1F2D3D;
$subMenuBg: #FFFFFF;
// $subMenuHover: #001528;
$subMenuHover: #FFFFFF;
$sideBarWidth: 200px;
$sideBarMinWidth: 50px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuActiveText: $menuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  menuText: $menuText;
  sideBarWidth: $sideBarWidth;
  subMenuActiveText: $subMenuActiveText;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
}
